services:
    server:
        build:
            context: ./server
            dockerfile: Dockerfile
        ports:
            - "3000:3000"
        environment:
            - PORT=3000
            - NODE_ENV=development
        volumes:
            - ./server/src:/usr/src/app/src

    postgres_db:
        image: postgres:16
        ports:
            - "5432:5432"
        environment:
            - POSTGRES_DB=better-task-tracker
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=password
        volumes:
            - pgdata:/var/lib/postgresql/data

    pgadmin:
        image: dpage/pgadmin4
        ports:
            - "5050:80"
        environment:
            - PGADMIN_DEFAULT_EMAIL=admin@admin.com
            - PGADMIN_DEFAULT_PASSWORD=admin
        depends_on:
            - postgres_db

volumes:
    pgdata:
